<!--====== HEADER PART START ======-->
{% load static %}
<header class="header-area rt-header sticky-on" class="">
    <div class="header-menubar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-sm-3 col-3">
                    <div class="header-menu">
                        <div class="stellarnav">
                            <ul>
                                <li><a class="active" href="/">पहला पन्ना</a>
                                </li>
                                
                                <li><a href="">आरती</a>
                                </li>
                                <li><a href="">व्रत त्योहार</a>
                                
                                </li>
                                <li><a href="">कथा</a></li>
                                <li><a href="">यात्रा</a></li>
                                <li><a href="#">चल चित्रन</a></li>
                            </ul>
                        </div><!-- .stellarnav -->
                    </div>
                </div>
                <div class="col-lg-4 col-sm-9 col-9">
                    <div class="header-menu-rightbar">
                        <div class="header-menu-search">
                            <ul>
                                <li><a href="/blog/"><i class="fal fa-search"></i></a></li>
                                <li><a href="/blog/"><i class="fal fa-user-circle"></i></a></li>
                            </ul>
                        </div>
                        <div class="nice-select-item">
                            <select>
                                <option data-display="English">English</option>
                                <option value="1">Bangla</option>
                                <option value="2">Hindi</option>
                                <option value="3">option</option>
                                <option value="4">Potato</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>

<!--====== HEADER PART ENDS ======-->