{% extends 'core/dashboard/base_dashboard.html' %}
{% block title %}
Dashboard
{% endblock title %}
{% load static %}
{% block dash %}
    <!--  -->


    <div class="third container">
        <div class="row">


            <div class="col-md-4 mt-5 mb-3">

                <div class="card card-hover">
                    <div class="dash-box text-white">
                        <h1 class="dash-icon">

                            <i class="fas fa-user-secret mb-1 font-16"></i>
                        </h1>
                        <div class="dash-content">
                            <h5 class="mb-0 mt-1"></h5>
                            <a href='/dashboard/home/slider/'>
                                <small class="font-light text-light">Home</small><br>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        

            <div class="col-md-4 mt-5 mb-3">

                <div class="card card-hover">
                    <div class="dash-box text-white">
                        <h1 class="dash-icon">

                            <i class="fas fa-user-secret mb-1 font-16"></i>
                        </h1>
                        <div class="dash-content">
                            <h5 class="mb-0 mt-1">1</h5>
                            <a href="/dashboard/contact/">
                            <small class="font-light text-light">Contact</small><br>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

           
            <div class="col-md-4 mt-5 mb-3">

                <div class="card card-hover">
                    <div class="dash-box text-white">
                        <h1 class="dash-icon">

                            <i class="fas fa-user-secret mb-1 font-16"></i>
                        </h1>
                        <div class="dash-content">
                            <h5 class="mb-0 mt-1">1</h5>
                            <a href="/dashboard/blog/">
                            <small class="font-light text-light">Blog</small><br>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock dash %}